<div id="index_post">
    <%= render :partial => "posts/index_post" %>
</div>    
<div id='post'>  
</div>
<%#*<div id='show_post'>%>  
<%#*</div>%>
<%#*<div id='edit_post'>%>  
<%#*</div>%>
<%= link_to 'New Post', new_post_path , :remote => true %>
<%= link_to "Home",home_path,method: :get%>
<%= link_to "All User Post",posts_path %>

